$primary: #B5C0D0;

@font-face { // 파셜산스
  font-family: 'PartialSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal; }
@font-face { // 완주대둔산체
  font-family: 'TTWanjudaedunsancheB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal; }
@font-face { // 프리텐다드
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal; }
@import   // 노토산스
  url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
  .notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
  }
@font-face { // SUIT
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal; }
@import // 나눔 고딕
  url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
  .nanumgothic * {
  font-family: 'Nanum Gothic', sans-serif;
  }



* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
}

// 나중에 html font-size 정해서 rem 영향 주기 (em 고려만)
// 경계선은 color나 border solid로 주기

div { // 글자색
  // body 아님 주의 ;;
  color: black;
}


.wrap {
  background-color: $primary;
  // display: flex;
  // min-width: 468px;
  // position: static;
  // 공부해 !!!!!!!!!!!!!!!!!!!!
}

// 이거 반응형하는 곳에 넣기 넣기 (고민좀해보기_
// .container {        // 안 쪽 
//   width: 1200px;    // 크기
//   margin: 0 auto;   // 양쪽 맞춰줌
//   height: inherit;  // 일단 차이 없음
//   background: rgba(255,255,255,0.3);  }


// height 뼈대 완벽하게 잡은 다음에 부모 애들 background-color 다 빼기
// HTML 16px = 1rem


// header start
.header{
  height: 500px;
  width: 100%;
}

.header-top {
  // background-color: #9BABB8;
  height: 80px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 1%;
  background-color: transparent; 
  display: flex;
  justify-content: space-between; // 세로
  z-index: 9999;  
  }

// header-top 애기들
.logo {
  position: fixed;
  display: flex;
  font-size: 2.12rem;
  font-family: 'TTWanjudaedunsancheB';
  text-decoration: none;
  color: black;
  }

.topbar {
  position: fixed;
  display: flex;
  top: 10px;
  right: 18px;
  margin-right: 0;
  color: black;
}

.topbar a {
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  margin-right: 18px;
}

.topbar a i {
  margin-left: 8px;
  top: 2px;
}
// header-top 애기들 끝

// header-nav start
.header-nav {
  // background-color: #EEE3CB;
  height: 420px;
}

// .container img {
//   width: 900px;
//   height: 440px;

//   display: flex;
//   justify-content: center;
//   // margin: auto;
// }


// header end


// banner start
.banner {
  background-color: #8294C4;
  height: 150px;
}

.b-container {
  background-color: #ACB1D6;
  height: 150px;
}

.b-container h2 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 0;
}

.b-container a svg {
  width: 400px;
  justify-content: center;
  display: flex;
  margin: auto;   // 위치
  padding: auto;  // 크기
}

// .b-container a svg:hover {}
// 이거 뭐할지 고민해보기 !!
// 그리고 sug 저거 애니메이션 넣기 - 아래위로 움직이는 모션

.b-container h4 {
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 0;
}


// contents start
.contents {
  background-color: #D7C0AE;
  height: 850px;
}

.content1 {
  background-color: #EED3D9;
  height: 350px;
}
.content2{
  background-color: #F5E8DD;
  height: 500px;
}


// footer start
.footer {
  background-color: #607274;
  height: 150px;
}
