* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
}

.header{
  height: 500px;
  width: 100%;
}

.wrap {
  background-color: #B5C0D0;
}

.header {
  height: 500px;
  width: 100%;
}

.header-top {
  background-color: #9BABB8;
  height: 80px;
}

.header-nav {
  background-color: #EEE3CB;
  height: 420px;
}

.banner {
  background-color: #8294C4;
  height: 150px;
}

.content1 {
  background-color: #EED3D9;
  height: 350px;
}

.content2 {
  background-color: #F5E8DD;
  height: 500px;
}

.footer {
  background-color: #607274;
  height: 150px;
}